<!--
 * @FileName: chatList
 * @Author: tom
 * @Date: 2020-06-28 16:25:58
 * @Version: 2.0
 * @Description: 在Home目录下，查看聊天列表的页面
                 所有的二级页面都要加上 com_second_page
--> 
<div class="view_chatlist com_second_page" id="v_chatList">
    <div class="sec_func_box">
        <div class="sec_func_inputbox">
            <img class="sec_func_search_icon" src="../../assets/images/secondContainer/small_search.png" />
            <input id="sec_chat_input" placeholder="搜索聊天记录" />
        </div>
        <div class="sec_select"></div>
    </div>
    <div class="sec_msg_container"></div>
</div>