<!--
 * @FileName: topbar
 * @Author: tom
 * @Date: 2020-06-28 16:27:08
 * @Version: 2.0
 * @Description: 主窗口头部菜单栏
--> 
<div class="view_top_container com_blueshadow">
    <div class="top_left_img"></div>
    <div class="top_right_img"></div>
    <div class="top_text">小伙聊</div>
    <div class="top_btn_container">
        <div class="top_box top_close"></div>
        <div class="top_box top_recover"></div>
        <div class="top_box top_max"></div>
        <div class="top_box top_min"></div>
    </div>
</div>