<!--
 * @FileName: leftside
 * @Author: tom
 * @Date: 2020-06-28 16:25:34
 * @Version: 2.0
 * @Description: 主界面左边导航栏界面
--> 
<div class="view_leftside_container">
    <div class="avatar_img_container">
        <img class="avatar_icon" src="../../assets/images/leftside/1.jpg" id="left_avatar">
    </div>
    <div class="left_nav_container">
        <div class="left_nav_item" router="home">
            <div class="left_nav_item_icon left_nav_home"></div>
        </div>
        <div class="left_nav_item" router="friend">
            <div class="left_nav_item_icon left_nav_friend"></div>
        </div>
        <div class="left_nav_item" router="group">
            <div class="left_nav_item_icon left_nav_group"></div>
        </div>
        <div class="left_nav_item" router="collection">
            <div class="left_nav_item_icon left_nav_collection"></div>
        </div>
        <div class="left_nav_item" router="setting">
            <div class="left_nav_item_icon left_nav_setting"></div>
        </div>
    </div>
</div>
