<!--
 * @FileName: popup
 * @Author: tom
 * @Date: 2020-06-28 16:25:58
 * @Version: 2.0
 * @Description: emoji 表情弹出框
--> 
<!--
 * @FileName: 
 * @Author: tom
 * @Date: 2020-06-17 14:54:31
 * @Version: 2.0
 * @Description: 
--> 

<popup #emojiPop class="com_shadow">
  <div class="emoji_list" id="emoji_list">
  </div>
  <div class="emoji_type_selec">
    <div class="emoji_type_selec_item emoji_emoji"></div>
    <div class="emoji_type_selec_item emoji_animation"></div>
    <div class="emoji_type_selec_item emoji_custom"></div>
  </div>
</popup>